* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid red 2px;
  height: 100vh;
  background-color: darkgreen;
}
.card {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 26px;
  border-radius: 25px;
  color: white;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 80px;
}
#location {
  font-size: 18px;
  color: red;
}
#city-name {
  height: 40px;
  width: 100%;
  border-radius: 18px;
  border: none;
  outline: none;
  font-size: 16px;
  color: white;
  padding: 26px;
  background-color: rgb(69, 69, 69);
}
::placeholder {
  color: red;
  font-size: 16px;
}
#btn {
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 16px;
  outline: none;
  font-size: 16px;
  background-color: rgb(69, 69, 69);
  color: red;
  cursor: pointer;
}
#btn:hover {
  color: green;
  transition: all ease-in-out 0.2s;
}

.city {
  margin-bottom: 10px;
  font-size: 24px;
}
.temp {
  margin-bottom: 10px;
  font-size: 22px;
}
.windSpeed,
.humidity,
.description {
  font-size: 14px;
}
